In [25]:
import nbaShotCharts as nba
import pandas as pd

In [2]:
df = nba.get_player_id("ALL")

In [5]:
df.head()

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG
0,76001,"Abdelnaby, Alaa",0,1990,1994,HISTADD_alaa_abdelnaby,0,,,,,Y
1,76002,"Abdul-Aziz, Zaid",0,1968,1977,HISTADD_zaid_abdul-aziz,0,,,,,Y
2,76003,"Abdul-Jabbar, Kareem",0,1969,1988,HISTADD_kareem_abdul-jabbar,0,,,,,Y
3,51,"Abdul-Rauf, Mahmoud",0,1990,2000,HISTADD_mahmoud_abdul-rauf,0,,,,,Y
4,1505,"Abdul-Wahad, Tariq",0,1997,2003,tariq_abdul-wahad,0,,,,,Y

In [23]:
type(df.TEAM_NAME.unique())

numpy.ndarray

In [11]:
len(df.TEAM_NAME.unique())

31

In [22]:
df.TEAM_ID.unique()

array([         0, 1610612758, 1610612763, 1610612760, 1610612752,
       1610612740, 1610612746, 1610612759, 1610612757, 1610612754,
       1610612748, 1610612764, 1610612742, 1610612749, 1610612765,
       1610612745, 1610612743, 1610612741, 1610612744, 1610612751,
       1610612747, 1610612766, 1610612737, 1610612761, 1610612750,
       1610612756, 1610612762, 1610612738, 1610612755, 1610612739,
       1610612753])

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4062 entries, 0 to 4061
Data columns (total 12 columns):
PERSON_ID                   4062 non-null int64
DISPLAY_LAST_COMMA_FIRST    4062 non-null object
ROSTERSTATUS                4062 non-null int64
FROM_YEAR                   4062 non-null int64
TO_YEAR                     4062 non-null int64
PLAYERCODE                  4061 non-null object
TEAM_ID                     4062 non-null int64
TEAM_CITY                   4062 non-null object
TEAM_NAME                   4062 non-null object
TEAM_ABBREVIATION           4062 non-null object
TEAM_CODE                   4062 non-null object
GAMES_PLAYED_FLAG           4062 non-null object
dtypes: int64(5), object(7)
memory usage: 412.5+ KB

In [14]:
df[df.TEAM_ID==1610612758].TEAM_NAME

13      Kings
75      Kings
240     Kings
508     Kings
585     Kings
591     Kings
669     Kings
720     Kings
769     Kings
950     Kings
1234    Kings
2025    Kings
2390    Kings
2524    Kings
3097    Kings
Name: TEAM_NAME, dtype: object

In [16]:
df[df.TEAM_NAME=="Kings"].TEAM_ID

13      1610612758
75      1610612758
240     1610612758
508     1610612758
585     1610612758
591     1610612758
669     1610612758
720     1610612758
769     1610612758
950     1610612758
1234    1610612758
2025    1610612758
2390    1610612758
2524    1610612758
3097    1610612758
Name: TEAM_ID, dtype: int64

In [17]:
df[df.TEAM_NAME==""].TEAM_ID

0       0
1       0
2       0
3       0
4       0
5       0
6       0
7       0
8       0
9       0
10      0
11      0
12      0
14      0
15      0
16      0
18      0
20      0
21      0
22      0
24      0
25      0
26      0
27      0
29      0
30      0
31      0
32      0
33      0
34      0
       ..
4026    0
4027    0
4028    0
4029    0
4030    0
4031    0
4032    0
4033    0
4034    0
4035    0
4038    0
4039    0
4041    0
4042    0
4044    0
4045    0
4046    0
4047    0
4049    0
4050    0
4051    0
4052    0
4054    0
4055    0
4056    0
4057    0
4058    0
4059    0
4060    0
4061    0
Name: TEAM_ID, dtype: int64

In [20]:
len(df[df.TEAM_NAME==""].TEAM_ID)

3615

In [26]:
df2 = pd.DataFrame({"TEAM_NAME": df.TEAM_NAME.unique(),
                    "TEAM_ID": df.TEAM_ID.unique()})

In [27]:
df2

       TEAM_ID      TEAM_NAME
0            0
1   1610612758          Kings
2   1610612763      Grizzlies
3   1610612760        Thunder
4   1610612752         Knicks
5   1610612740       Pelicans
6   1610612746       Clippers
7   1610612759          Spurs
8   1610612757  Trail Blazers
9   1610612754         Pacers
10  1610612748           Heat
11  1610612764        Wizards
12  1610612742      Mavericks
13  1610612749          Bucks
14  1610612765        Pistons
15  1610612745        Rockets
16  1610612743        Nuggets
17  1610612741          Bulls
18  1610612744       Warriors
19  1610612751           Nets
20  1610612747         Lakers
21  1610612766        Hornets
22  1610612737          Hawks
23  1610612761        Raptors
24  1610612750   Timberwolves
25  1610612756           Suns
26  1610612762           Jazz
27  1610612738        Celtics
28  1610612755          76ers
29  1610612739      Cavaliers
30  1610612753          Magic

In [32]:
df2.iloc[0, 1] = "No Team"

In [33]:
df2.head()

      TEAM_ID  TEAM_NAME
0           0    No Team
1  1610612758      Kings
2  1610612763  Grizzlies
3  1610612760    Thunder
4  1610612752     Knicks

In [48]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31 entries, 0 to 30
Data columns (total 2 columns):
TEAM_ID      31 non-null int64
TEAM_NAME    31 non-null object
dtypes: int64(1), object(1)
memory usage: 744.0+ bytes

In [36]:
df2[df2.TEAM_NAME=="Knicks"].TEAM_ID.values[0]

1610612752

In [47]:
df2[df2.TEAM_NAME=="Knicks"].TEAM_ID.iloc[0]

1610612752

In [38]:
type(df2[df2.TEAM_NAME=="Knicks"].TEAM_ID.values[0])

numpy.int64

In [39]:
type(df2[df2.TEAM_NAME=="Knicks"].TEAM_ID)

pandas.core.series.Series

In [ ]:
def get_all_player_ids(ids="shots"):
    url = "http://stats.nba.com/stats/commonallplayers?IsOnlyCurrentSeason=0&LeagueID=00&Season=2015-16"

    # get the web page
    response = requests.get(url)
    # access 'resultSets', which is a list containing the dict with all the data.
    # The 'header' key accesses the headers
    headers = response.json()['resultSets'][0]['headers']
    # The 'rowSet' key contains the player data along with their IDs
    players = response.json()['resultSets'][0]['rowSet']
    # Create dataframe with proper numeric types
    players_df = pd.DataFrame(players, columns=headers)
    players_df = players_df.convert_objects(convert_numeric=True)

    if ids == "shots":
        df = players_df.query("(FROM_YEAR >= 2001) or (TO_YEAR >= 2001)").reset_index(drop=True)
        # just keep the player ids and names
        player_ids = df.iloc[:,0:2]
        return player_ids
    if ids == "all players":
        return players_df.iloc[:,0:2]
    if ids == "all data":
        return players_df

In [ ]:
def get_player_id(player):
        player_df = get_all_player_ids("all data")
        player_id = players_df[players_df.DISPLAY_LAST_COMMA_FIRST == player].PERSON_ID
        if len(player_id) == 1:
            return player_id.iloc[0]
        if len(player_id) == 0:
            raise NoPlayerError('There is no player with that name.')
        return player_id.values

In [ ]:
def get_all_team_ids():
    
    # grab all the data then dwindle it down to just
    # the TEAM_IDs and TEAM_NAMEs
    # Then extract the desired TEAM_ID
    df = get_player_id("ALL")
    df = pd.DataFrame({"TEAM_NAME": df.TEAM_NAME.unique(),
                    "TEAM_ID": df.TEAM_ID.unique()})
    return df

In [ ]:
def get_team_id(team_name):
    team_id = df[df.TEAM_NAME==team_name].TEAM_ID.iloc[0]
    return team_id