In [1]:
import pandas as pf
import nbaShotCharts as nba

%matplotlib inline
import matplotlib.pyplot as plt

In [2]:
all_data = nba.get_all_player_ids("all_data")

In [3]:
all_data.head()

,PERSON_ID,DISPLAY_LAST_COMMA_FIRST,ROSTERSTATUS,FROM_YEAR,TO_YEAR,PLAYERCODE,TEAM_ID,TEAM_CITY,TEAM_NAME,TEAM_ABBREVIATION,TEAM_CODE,GAMES_PLAYED_FLAG
0,76001,"Abdelnaby, Alaa",0,1990,1994,HISTADD_alaa_abdelnaby,0,,,,,Y
1,76002,"Abdul-Aziz, Zaid",0,1968,1977,HISTADD_zaid_abdul-aziz,0,,,,,Y
2,76003,"Abdul-Jabbar, Kareem",0,1969,1988,HISTADD_kareem_abdul-jabbar,0,,,,,Y
3,51,"Abdul-Rauf, Mahmoud",0,1990,2000,HISTADD_mahmoud_abdul-rauf,0,,,,,Y
4,1505,"Abdul-Wahad, Tariq",0,1997,2003,tariq_abdul-wahad,0,,,,,Y

In [4]:
all_players = nba.get_all_player_ids("all_players")

In [5]:
all_players.head()

   PERSON_ID DISPLAY_LAST_COMMA_FIRST
0      76001          Abdelnaby, Alaa
1      76002         Abdul-Aziz, Zaid
2      76003     Abdul-Jabbar, Kareem
3         51      Abdul-Rauf, Mahmoud
4       1505       Abdul-Wahad, Tariq

In [6]:
all_players_with_shots = nba.get_all_player_ids()

In [7]:
all_players_with_shots.head()

   PERSON_ID DISPLAY_LAST_COMMA_FIRST
0       1505       Abdul-Wahad, Tariq
1        949     Abdur-Rahim, Shareef
2     101165              Acker, Alex
3     203112              Acy, Quincy
4     200801            Adams, Hassan

In [8]:
curry_id = nba.get_player_id("Curry, Stephen")

In [9]:
curry_id

array([201939])

In [10]:
all_team_ids = nba.get_all_team_ids()

In [11]:
all_team_ids.head()

      TEAM_ID  TEAM_NAME
0           0
1  1610612758      Kings
2  1610612763  Grizzlies
3  1610612760    Thunder
4  1610612752     Knicks

In [12]:
knicks_id = nba.get_team_id("Knicks")

In [13]:
knicks_id

1610612752

In [15]:
type(knicks_id)

numpy.int64

In [19]:
import numpy as np

In [21]:
knicks_id is np.int64

False

In [22]:
np.int is int

True

In [14]:
nba.get_team_id("ert")

ValueError: Invalid team name or there is no team with that name.

In [ ]:
nba.get_player_id("dgf")